@import "~bootstrap/scss/bootstrap.scss";

.jumbotron{
    padding-bottom: 50px;
    background: lightgrey;
    padding: 20px;
}

.card{ 
    margin: 20px;
}

.footer{
    color: lightgrey;
    height: 40px;
    align-content: center;
    padding-top: 10px;
}